.diagram-container {
    display: block;
    text-align: center;
}

.diagram-container table {
    width: 100%;
}

td:nth-child(1) {
    width: inherit;
}

td:nth-child(2) {
    width: 100%;
}

.diagram-row {
    border-bottom: 1px dashed #cccccc;
    display: block;
}

.diagram-row-contents {
    padding: 0 8px;
}

.diagram-row:last-of-type {
    border-bottom: none;
}

.diagram-row,
.diagram-row-caption,
.diagram-row-contents {
    height: 75px;
}

.diagram-row-caption {
    color: #666666;
    line-height: 75px;
    padding: 0 24px;
    text-align: left;
    width: 175px;
}

/* Diagram outlines for each recipient */
.thumbnail-wrapper {
    background-position: -41px 0;
    background-repeat: no-repeat;
    background-size: 370px 75px;
    display: inline-block;
    height: 75px;
    margin: 0;
    overflow: hidden;
    padding: 16px 0;
    text-align: center;
    width: 75px;
}

.thumbnail-wrapper:first-child {
    background-position: 35px 0;
}

.thumbnail-wrapper:last-child {
    background-position: -115px 0;
}

.thumbnail-wrapper:first-child:nth-last-child(2) {
    background-position: -257.5px 0;
}

.thumbnail-wrapper:last-child:nth-child(2) {
    background-position: -332.5px 0;
}

.thumbnail-wrapper:only-child {
    background-position: -187px 0;
    background-position: -187px 0;
}

.thumbnail-wrapper.sender:only-child {
    background-position: -187px 30px;
}

.thumbnail-wrapper.complete:only-child {
    background-position: -187px -30px;
}

/* Thumbnail for each recipient */
.thumbnail-contents {
    background: rgb(233, 242, 251);
    border-radius: 24px;
    border: 1px solid rgb(0, 112, 210);
    height: 48px;
    width: 48px;
}

.thumbnail-contents * {
    line-height: 36px;
    text-transform: uppercase;
}

.text-strong {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.sender {
    padding-right: 50px;
}

.completed {
    padding-right: 76px;
}

.senderText {
    height: 48px;
    width: 75px;
}

.recipient-row {
    padding-right: 7px;
}

.text-uppercase {
    text-transform: uppercase;
}

.tooltipContent {
    width: fit-content;
}

.tooltipLabel {
    color: rgb(0, 0, 0);
    font-size: var(--lwc-fontSize3);
    font-weight: bold;
    height: 20px;
    letter-spacing: 0px;
    line-height: 20px;
}

.tooltipEmail {
    color: rgb(5, 5, 5);
    font-size: var(--lwc-fontSize3);
    height: 20px;
    font-weight: normal;
    letter-spacing: 0px;
    line-height: 20px;
}

.completedCheck {
    color: rgb(0, 112, 210);
    height: 10px;
    width: 15px;
}

.popover {
    background: rgb(255, 255, 255);
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
}