.THIS .ds-agreementsIconBackground {
    background-color: t(colorBrandDarker);
}

.THIS.ds-boxBackground {
    background-color: t(colorBackgroundWhite);
    height: 100%;
}

.THIS .ds-spinner_oauth_container {
    margin: auto;
    min-height: 30vh;
}

.THIS .ds-spinner_oauth_container::after {
    position: absolute;
    content: var(--authorizingMessage);
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
}

.THIS .ds-spinner_container {
    margin: auto;
    min-height: 30vh;
}

.THIS .ds-spinner_container::after {
    position: absolute;
    content: var(--fetchingDocuSignFilesMessage);
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
}

.THIS .ds-agreements_spacing {
    border-bottom: 1px solid rgb(217, 219, 221);
}

.THIS .ds-noData_Agreements {
    width: 20vw;
}
