my.properties
prod.properties
pkg.properties
*.iml
.idea/
IlluminatedCloud/
.DS_Store
out/
ApexDocumentation/
SfApexDocLog.txt
SfApexDocs/
.sfdx/
node_modules/
package-lock.json
.vscode/settings.json
lintop.txt
debug.log
uncrustify.cfg
jsconfig.json