.THIS .ds-getStarted {
    color: t(colorTextActionLabelActive);
    font-size: t(fontSize5);
}

.THIS .ds-havingTrouble-illustration img {
    max-width: 85px;
    width: auto;
    max-height: 115px;
    height: auto;
}

.THIS .ds-regular-text {
    font-size: t(fontSize3);
}

.THIS .ds-bold-text {
    font-weight: t(fontWeightBold);
}

.THIS .ds-admin-sidebar {
    background: rgb(255, 255, 255);
    min-height: 1260px;
}

.THIS .ds-home-centerSpace {
    background: rgb(249, 249, 250);
    flex: unset;
    border-radius: .1rem;
}

.THIS .ds-userManagement-section, .THIS .ds-documentGeneration-section {
    background: rgb(255, 255, 255);
}

.THIS .ds-setupSection-heading {
    background: rgb(243, 242, 242);
    flex: unset;
    max-height: 80px;
}

.THIS .ds-configuration-detail {
    color: t(colorTextActionLabelActive);
    font-size: t(fontSize7);
    font-weight: t(fontWeightBold);
}

.THIS .ds-config-item-border {
    border-bottom: solid 0.5px rgb(243, 242, 242);
}

.THIS .ds-negotiation-icon-background {
    background: #5eb4ff;
}

.THIS .ds-userManagement-icon-background {
    background: #ee7fae;
}

.THIS .ds-components-icon-background {
    background: #A094ED;
}

.THIS .ds-white-background {
    background: rgb(255, 255, 255);;
}

.THIS .ds-badge-position, .THIS .slds-icon-utility-lock, .THIS .slds-button__icon {
    position: relative;
    top: -2px;
}
