.THIS .ds-getStarted {
    color: t(colorTextActionLabelActive);
    font-size: t(fontSize5);
}

.THIS .ds-docusign-illustration img {
    max-width: 200px;
    width: auto;
    max-height: 200px;
    height: auto;
}

.THIS .ds-havingTrouble-illustration img {
    max-width: 85px;
    width: auto;
    max-height: 115px;
    height: auto;
}

.THIS .ds-regular-text {
    font-size: t(fontSize3);
}

.THIS .ds-bold-text {
    font-weight: t(fontWeightBold);
}

.THIS .ds-admin-sidebar {
    background: white;
    height: 100%;
    min-height: 880px;
}

.THIS .ds-admin-centerSpace {
    background: white;
    flex: unset;
}

.THIS .ds-configuration-detail {
    color: t(colorTextActionLabelActive);
    font-size: t(fontSize7);
    font-weight: t(fontWeightBold);
}

.THIS .ds-config-item-border {
    border-bottom: solid 0.5px rgb(243, 242, 242);
}

.THIS .ds-negotiation-icon-background {
    background: #5eb4ff;
}

.THIS .ds-userManagement-icon-background {
    background: #ee7fae;
}

.THIS .ds-components-icon-background {
    background: #A094ED;
}

