.THIS.slds-scope {
    height: auto;
    min-height: 100%;
}

.THIS.slds-scope .ds-sending {
    display: flex;
    flex-direction: column;
}

.THIS.slds-scope .ds-sending__header {
    flex: 0 0 auto;
    z-index: 10;
    padding: t(spacingMedium);
    background-color: white;
    border-bottom: 1px solid t(colorBorder);
}

@media (min-width: 48em) {
    .THIS.slds-scope .ds-sending__header {
        padding: t(spacingSmall);
    }
}

.THIS.slds-scope .ds-sending__body {
    flex: 1 1 100vh;
    flex-basis: 100vh;
}

@media (min-width: 48em) {
    .THIS.slds-scope .ds-sending__body {
        padding-top: t(spacingXxLarge);
        padding-bottom: t(spacingXxLarge);
    }
}

.THIS.slds-scope .ds-sending__body .slds-box {
    padding: t(spacingLarge);
}

.THIS.slds-scope .ds-sending__footer {
    flex: 0 0 auto;
    z-index: 10;
    bottom: 0;
    width: 100%;
    border-top: 1px solid t(colorBorder);
    background-color: white;
    padding: t(spacingLarge);
    text-align: right;
}

.THIS.ds-quick-action-modal .ds-modal__content,
.THIS.ds-visualforce .ds-visualforce__body {
    flex: 1 1 300px;
}

.THIS .ds-no-label .slds-form-element__label,
.THIS .ds-no-label .slds-form-element__control > .slds-checkbox > .slds-checkbox__label > .slds-form-element__label,
.THIS .ds-no-label .slds-form-element__control > .slds-radio > .slds-radio__label > .slds-form-element__label,
.THIS .ds-no-label lightning-input .slds-form-element__label {
    display: none;
}

.THIS .ds-no-label .slds-form-element__control > .slds-checkbox > .slds-checkbox__label > .slds-checkbox_faux,
.THIS .ds-no-label .slds-form-element__control > .slds-checkbox > .slds-checkbox__label > .slds-checkbox_faux,
.THIS .ds-no-label .slds-form-element__control > .slds-radio > .slds-radio__label > .slds-radio_faux,
.THIS .ds-no-label .slds-form-element__control > .slds-radio > .slds-radio__label > .slds-radio_faux {
    margin: 0;
}

.THIS .ds-icon-adjustment .slds-icon,
.THIS .ds-icon-adjustment .slds-button__icon {
    transform: translateY(-2px);
}

.THIS .ds-dragged .slds-popover {
    display: none;
}

.THIS .slds-section:not(.slds-is-open) .slds-section__content {
    display: none;
}

.THIS .slds-section .slds-section__title-action .slds-button__icon {
    transform: rotate(-90deg);
}

.THIS .slds-section.slds-is-open .slds-section__title-action .slds-button__icon {
    transform: none;
}

.THIS .ds-input_inline,
.THIS.ds-visualforce .ds-input_inline {
    display: inline-block;
    width: 80px;
}

.THIS .ds-input_inline .slds-input,
.THIS .ds-input_inline .slds-form-element__control {
    display: block;
    width: 100%;
}

.THIS .ds-input_inline .slds-form-element__label {
    display: none;
}

.THIS .ds-file-uploader {
    position: relative;
    top: 1px;
}

.THIS .ds-pointer-events_none {
    pointer-events: none;
}

.THIS .ds-remove .slds-button__icon {
    fill: t(colorTextError);
}

.THIS .ds-files__empty-state {
    display: none;
    padding-top: 0;
}

.THIS .ds-files__empty-state:only-child {
    display: block;
}

.THIS .ds-carousel__indicators {
    left: 50%;
    transform: translateX(-50%);
}

.THIS .ds-routing-order__dropzone {
    border-color: t(colorBorder);
    user-select: none;
    background-color: white;
}

.THIS .ds-routing-order__dropzone_dragged-over {
    border-color: t(colorBorderSuccess);
    background-color: #e5f8ed;
}

.THIS .ds-routing-order__dropzone_suppress-pointer-events * {
    pointer-events: none;
}

.THIS .ds-routing-order__pill {
    cursor: -webkit-grab;
    cursor: grab;
}

.THIS .ds-routing-order__pill:hover {
    background-color: white;
}

.THIS .ds-template-roles .ds-template-roles__role + .ds-template-roles__role:before,
.THIS .ds-recipients .ds-recipients__recipient + .ds-recipients__recipient:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    top: -0.125rem;
    border-top: 1px solid t(colorBorder);
}

.THIS .ds-recipients .ds-recipients__recipient:first-child {
    margin-top: 0;
}

.THIS .ds-template-roles .ds-template-roles__title + .ds-template-roles__role {
    border-top: none;
    margin-top: 0;
}

.THIS .slds-textarea {
    min-height: 116px;
}

.THIS .ds-other-recipients {
    margin-left: 18px;
}

.THIS .ds-other-recipients-title {
    color: rgb(62, 62, 60);
    font-size: 13px;
    font-weight: normal;
    height: 30px;
    letter-spacing: 1.3px;
    line-height: 20px;

}

.THIS .ds-other-recipients-description {
    color: rgb(62, 62, 60);
    font-size: 12px;
    font-weight: normal;
    height: 18px;
    letter-spacing: 0px;
    line-height: 18px;
}

.THIS .ds-recipient-roles {
    width: 668px;
}

.THIS .ds-other-recipients-button {
    margin-top: 10px;
}
