.THIS .shareLinkButton {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -5px;
}

.THIS .shareLinkWidthOnCopy {
    width: 5rem;
}

.THIS .shareLinkButtonHelpText {
    padding-right: 3.4rem;
}