.THIS .shareLinkButton {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.THIS .shareLinkWidthOnCopy {
    width: 5rem;
}

.THIS .shareLinkButtonHelpText {
    padding-right: 3.4rem;
}