.THIS .ds-sectionHeader {
    color: t(colorTextActionLabelActive);
    font-size: t(fontSize7);
    font-weight: t(fontWeightBold);
}

.THIS .ds-userManagement-icon-background {
    background: #ee7fae;
}

.THIS .ds-trialMessage {
    font-size: t(fontSize4);
}

.THIS .ds-trialDaysLeft {
    font-size: t(fontSize4);
    background: rgb(255, 255, 255);
}