.THIS .slds-modal {
    display: grid;
    overflow-y: auto;
}

.THIS .ds-gen-templates-setup-spinner {
    min-height: 30vh;
    position: static;
}

.THIS .slds-modal__content {
    overflow: initial;
}

.THIS .ds-gen-templates-types {
    cursor: pointer;
}

.THIS .ds-genType .slds-icon-text-default {
    fill: white !important;
}

.THIS .ie-error {
	max-width: 20vw;
}

.THIS .slds-modal__container {
    max-width: 55rem;
}

.THIS .ds-format-modal{
    color:rgb(102,102,102);
    font-size: 10px;
    font-weight: normal;
    height:23px;
    letter-spacing:0px;
    line-height:18px;
    width:260px;
}