.THIS {
    background-color: #fafafb;
    border-radius: t(borderRadiusMedium);
}

.THIS .ds-textLabel-color {
    color: t(colorTextLabel);
}

.THIS .ds-button-width {
    min-width: 142px;
    max-width: 200px;
}

.THIS .ds-card-heading {
    color: t(colorTextLinkActive);
    font-size: 1.25rem;
}
