.THIS .ds-negotiateHelp-header {
    color: rgb(43, 40, 38);
    font-size: t(fontSize8);
    font-weight: t(fontWeightBold);
}

.THIS .ds-negotiateHelp-body {
    color: rgb(62, 62, 60);
    font-size: t(fontSize3);
}

.THIS .ds-negotiateHelp-image-box {
    width: 200px;
}

.THIS .ds-negotiateHelp-image-header {
    color: rgb(43, 40, 38);
    font-size: t(fontSize6);
    font-weight: t(fontWeightBold);
}