.THIS .ds-visualPickerHeading {
    font-size: t(fontSize3);
    color: t(colorTextLink);
}

.THIS .ds-fileSpacing {
    border-bottom: 1px solid rgb(217, 219, 221);
}

.THIS .ds-fadeBackground {
    opacity: 0.2;
}

.THIS .ds-import-spinner_container {
    min-height: 20vh;
    position: relative;
}

.THIS .ds-salesForceFileSelction_container {
    max-height: 300px;
}

.THIS .ds-import-spinner_setupFileUpload::after {
    position: absolute;
    content: var(--uploadWidgitInitMessage);
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
}

.THIS .ds-import-spinner_setupSalesforceFiles::after {
    position: absolute;
    content: var(--fetchingSalesforceFilesMessage);
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
}

.THIS .ds-import-spinner_uploadingAgreement::after {
    position: absolute;
    content: var(--importingToDocuSignFilesMessage);
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
}

.THIS .ds-import-spinner_sendingForSignature::after {
    position: absolute;
    content: var(--sendForSignatureMessage);
    width: 100%;
    text-align: center;
    top: calc(50% + 3em);
}

.THIS .ds-no-label .slds-form-element__label,
.THIS .ds-no-label .slds-form-element__control > .slds-checkbox > .slds-checkbox__label > .slds-form-element__label,
.THIS .ds-no-label .slds-form-element__control > .slds-radio > .slds-radio__label > .slds-form-element__label,
.THIS .ds-no-label lightning-input .slds-form-element__label {
    display: none;
}

.THIS .ds-no-label .slds-form-element__control > .slds-checkbox > .slds-checkbox__label > .slds-checkbox--faux,
.THIS .ds-no-label .slds-form-element__control > .slds-checkbox > .slds-checkbox__label > .slds-checkbox_faux,
.THIS .ds-no-label .slds-form-element__control > .slds-radio > .slds-radio__label > .slds-radio_faux,
.THIS .ds-no-label .slds-form-element__control > .slds-radio > .slds-radio__label > .slds-radio--faux {
    margin: 0;
}

.THIS .ds-fileDetails {
    font-size: .75rem;
}