.THIS .scmwgt__spinner {
    display: none;
}

.THIS.ds-fadeBackground {
    opacity: 0.2;
}

.THIS .ds-text-currentVersionName {
    color: t(brandAccessible);
}

.THIS .scmwgt {
    height: t(ninetyPercentViewPortHeight);
}