.ds-recipient-type-selection {
    width: 211px;
    height: 278px;
}

.ds-panel-separator {
    background: var(--lwc-colorBorder);
    width: 1px;
}

.ds-dec-recipient-details {
    width: 100%;
}

.ds-text-black {
    color: #080707;
}

