.ds-options-information-section {
    height: 94px;
    width: 920px;
}

.ds-options-information-header {
    color: var(--lwc-colorTextActionLabelActive);
    font-size: var(--lwc-fontSize7);
    font-weight: var(--lwc-fontWeightBold);
}

.ds-options-information-text {
    color: rgb(62, 62, 60);
    font-size: var(--lwc-fontSize3);
    width: 729px;
}

.ds-options-details-header-text {
    color: rgb(5, 5, 5);
    font-size: var(--lwc-fontSize5);
    font-weight: bold;
}

.ds-options-inner-text {
    color: rgb(62, 62, 60);
    margin: auto 0;
}

.ds-options-fit-content-width {
    width: fit-content;
}

.ds-options-reminders-input {
    width: 170px;
}

.ds-options-expiration-input {
    width: 54px;
}