.ds-modal-header-title {
    font-weight: var(--lwc-fontFamilyheading);
}

.ds-modal-container {
    width: var(--lwc-sizeXLarge);
    min-height: 538px;
}

.ds-modal-header {
    height: 55px;
}

.slds-modal__content {
    max-height: 90%;
    overflow-y: auto !important;
}

.slds-modal {
    outline: none;
}

.ds-modal-on-modal {
    width: 100rem;
    left: -25rem;
    padding-left: 100px;
    padding-right: 100px;
}