.THIS.slds-container_medium {
    max-width: 40rem;
}

.THIS .ds-dec-setup-componentHeader {
    color: rgb(43, 40, 38);
    font-size: t(fontSize8);
    font-weight: t(fontWeightBold);
}

.THIS .ds-dec-noTemplates-section-header {
    color: rgb(71, 71, 68);
    font-size: t(fontSize7);
    font-weight: normal;
}

.THIS .ds-dec-noTemplates-section-videoImage {
    display: flex;
    justify-content: center;
}

.THIS .ds-dec-noTemplates-section-body {
    color: rgb(112, 114, 108);
    font-size: t(fontSize3);
    font-weight: normal;
}

.THIS .ds-dec-templates-setup-spinner {
    position: relative;
    top: 120px;
    align-items: center;
}

.THIS .ds-gen-templates-setup-spinner {
    min-height: 30vh;
    position: static;
}