.THIS .ds-learn-section-header {
    color: rgb(43, 40, 38);
    font-size: t(fontSize7);
    font-weight: t(fontWeightBold);
}

.THIS .ds-learn-section-info {
    font-size: t(fontSize3);
    color: rgb(8, 7, 7);
}

.THIS .ds-learn-image-tile {
    height: 240px;
    border: 1px solid rgb(221, 219, 218);
    color: rgb(8, 7, 7);
}

.THIS .ds-learn-image-tile:hover {
    cursor: pointer;
    border: 1px solid rgb(0, 112, 210);
    color: rgb(0, 109, 204);
    background-color: #f6fbff;
    background-image: url(/resource/New_Window);
    background-repeat: no-repeat;
    background-position-x: 98.5%;
    background-position-y: 2%;
}

.THIS .ds-learn-image {
    height: 145px;
    width: 174px;
    cursor: pointer;
}

.THIS .ds-learn-image-title {
    font-size: t(fontSize5);
}