@keyframes loading-dot {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.THIS .slds-page-header__icon .slds-icon {
    width: 2.25rem;
    height: 2.25rem;
}

.THIS .ds-try-template-config_container {
    min-height: 48px;
}

.THIS .ds-try-template-config_container-long-gen {
    min-height: 140px;
}

.THIS .ds-edit-record-name .slds-input {
    height: 22px;
    width: 320px;
    min-height: 0;
    padding: 0 t(spacingXxSmall);
}

.THIS .ds-merge-field > .slds-grid {
    z-index: 1;
}

.THIS .ds-merge-field__arrow {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.THIS .ds-merge-field,
.THIS .ds-merge-field__subfield {
    z-index: auto;
}

.THIS .ds-merge-field__subfield-line {
    pointer-events: none;
    display: block;
    width: 3rem;
    height: 46px;
    border-left: thin solid rgb(217, 219, 221);
    border-bottom: thin solid rgb(217, 219, 221);
    left: 16px;
    top: -29px;
    z-index: 0;
}

.THIS .ds-readonly .slds-input,
.THIS .ds-readonly.slds-input {
    border: thin solid t(colorBorder);
    padding-left: t(spacingSmall);
    padding-right: t(spacingSmall);
    background-color: #f3f2f2;
}

.THIS .ds-readonly .slds-input:hover,
.THIS .ds-readonly .slds-input:active,
.THIS .ds-readonly .slds-input:focus,
.THIS .ds-readonly.slds-input:hover,
.THIS .ds-readonly.slds-input:active,
.THIS .ds-readonly.slds-input:focus {
    outline: none;
    box-shadow: none;
}

.THIS.ds-toast {
    pointer-events: none;
    transition: all 200ms ease-in-out 0ms;
    opacity: 0;
    transform: translateY(-50px);
}

.THIS.ds-toast_shown {
    opacity: 1;
    transform: none;
}

.THIS.ds-toast_shown .slds-notify {
    pointer-events: auto;
}

.THIS .ds-badge-adjustment {
    transform: translateY(-0.01rem);
    display: inline-block;
}

.THIS .ds-no-label .slds-form-element__label,
.THIS .ds-no-label .slds-form-element__legend,
.THIS .ds-checkbox_no-label .slds-form-element__label,
.THIS .ds-radio_no-label .slds-form-element__label {
    display: none;
}

.THIS .ds-no-label .slds-checkbox .slds-form-element__label,
.THIS .ds-no-label .slds-radio .slds-form-element__label {
    display: inline;
}

.THIS .ds-file-tile > .slds-box > .slds-media {
    padding-right: t(spacingXLarge);
}

.THIS .ds-file-tile__remove {
    top: t(spacingXSmall);
    right: t(spacingXSmall);
}

.THIS .ds-checkbox_large [type="checkbox"] + .slds-checkbox__label .slds-checkbox_faux {
    width: t(spacingLarge);
    height: t(spacingLarge);
    box-shadow: 0 0 3px 3px t(colorBackground) inset;
    background-color: #fdfdfd;
    margin: 0;
}

.THIS .ds-checkbox_large [type="checkbox"]:checked + .slds-checkbox__label .slds-checkbox_faux:after {
    width: t(spacingMedium);
    height: t(spacingXSmall);
    border-bottom-width: 4px;
    border-left-width: 4px;
    top: 44%;
}

.THIS .ds-radio_large [type="radio"] + .slds-radio__label .slds-radio_faux {
    width: t(spacingLarge);
    height: t(spacingLarge);
    box-shadow: 0 0 3px 3px t(colorBackground) inset;
    background-color: #fdfdfd;
    margin: 0;
}

.THIS .ds-radio_large [type="radio"]:checked + .slds-radio__label .slds-radio_faux:after {
    width: t(spacingMedium);
    height: t(spacingMedium);
}

.THIS .ds-checkbox_large .slds-form-element__label,
.THIS .ds-radio_large .slds-form-element__label {
    display: none;
}

.THIS .ds-align-top {
    vertical-align: top;
}

.THIS .slds-button-group .slds-dropdown-trigger:last-child .slds-button {
    border-radius: 0 0.25rem 0.25rem 0;
    margin-left: -1px;
}

.THIS .ds-path__spinner-text {
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 30px));
    z-index: 9999;
}

.THIS .ds-path__spinner_container {
    opacity: 1;
    visibility: visible;
}

.THIS .ds-path__spinner_container .slds-spinner,
.THIS.ds-path__spinner_container .slds-spinner {
    transform: translate(-50%, calc(-50% - 10px)) rotate(90deg);
}

.THIS .ds-path__spinner_container .slds-spinner_container,
.THIS.ds-path__spinner_container .slds-spinner_container {
    z-index: 1001;
}

.THIS .ds-path__spinner_hidden,
.THIS.ds-path__spinner_hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: -1;
}

.THIS .ds-path.slds-path {
    padding-bottom: t(spacingLarge);
}

.THIS .ds-button-icon-spacer {
    width: 32px;
}

.THIS .slds-page-header__name h1 {
    line-height: 1.25;
}

.THIS .ds-repeater-box {
    min-height: 50px;
    padding-top: t(spacingXxSmall);
}

.THIS .ds-repeater-box > .slds-button:only-child {
    margin-top: t(spacingXxSmall);
}

.THIS .ds-cursor_not-allowed > a,
.THIS .ds-cursor_not-allowed > a:hover,
.THIS .ds-cursor_not-allowed::before,
.THIS .ds-cursor_not-allowed::after {
    cursor: not-allowed;
}

.THIS .ds-image-spinner .slds-spinner::before,
.THIS .ds-image-spinner .slds-spinner::after {
    display: none;
}

.THIS .ds-mouse-through {
    pointer-events: none;
}

.THIS .ds-mouse-through > * {
    pointer-events: auto;
}

.THIS .ds-icon-fix .slds-icon {
    transform: translateY(-2px);
}

.THIS .ds-helptext-icon-fix .slds-button_icon {
    transform: translateY(-2.75px);
}

.THIS .ds-modal-content-spacing {
    border-bottom: 1px solid rgb(217, 219, 221);
}

.THIS .ds-slds-has-error input:focus {
    outline: none;
    box-shadow: none !important;
    border: 1px solid t(colorBackgroundDestructive);
}

.THIS .ds-slds-has-error input {
    border: 1px solid t(colorBackgroundDestructive);
}

.THIS .ds-format-field__arrow {
    flex: none;
    text-align: center;
}

.THIS .ds-icon-background svg {
    fill: t(colorBackgroundDestructive);
}

.THIS .ds-text-error {
    color: t(colorBackgroundDestructive);
}
