.THIS > .slds-card__header {
    display: none;
}
.THIS .slds-timeline__icon {
    position: relative;
    z-index: 1;
}

.THIS .slds-timeline__media:before {
    z-index: 0;
}

.THIS .ds-timeline__media_incomplete:before {
    background: #b8c3cf;
}

.THIS .ds-timeline__media_completed:before,
.THIS .ds-timeline__media_completed .slds-icon_container {
    background: t(colorBackgroundSuccessDark);
}

.THIS .ds-timeline__media_declined {
    border-radius: t(borderRadiusMedium);
}

.THIS .ds-timeline__media_declined:before,
.THIS .ds-timeline__media_declined .slds-icon_container {
    background: t(colorBackgroundDestructive);
}

.THIS .ds-timeline__media_declined .slds-icon_container {
    border-radius: t(borderRadiusMedium);
    width: 1.625rem;
    height: 1.625rem;
    padding: 0.05rem;
}

.THIS .ds-timeline__media_declined .slds-icon_container .slds-icon {
    width: 1.5rem;
    height: 1.5rem;
    padding: t(spacingXxSmall);
}

.THIS .ds-timeline__item_envelope:before {
    background: #f28b00;
}

.THIS .ds-timeline__item_envelope .slds-timeline__item_details {
    padding: 0;
    display: none;
}

.THIS .ds-timeline__item_envelope.slds-is-open .slds-timeline__item_details {
    display: block;
}

.THIS .ds-envelope-title {
    max-width: calc(100% - 200px);
}

.THIS .ds-capitalize {
    text-transform: capitalize;
}

.THIS .ds-status-badge_inline {
    display: inline-block;
    transform: translateY(-0.05rem);
}

.THIS .ds-recipient:not(.ds-recipient_details-shown) .ds-recipient__toggle_less,
.THIS .ds-recipient.ds-recipient_details-shown .ds-recipient__toggle_more,
.THIS .ds-recipient:not(.ds-recipient_details-shown) .ds-recipient__details {
    display: none;
}

.THIS .ds-spinner_container {
    min-height: 100px;
}