.THIS > .slds-card__header {
    display: none;
}
.THIS .slds-timeline__icon {
    position: relative;
    z-index: 1;
}

.THIS .slds-timeline__media:before {
    margin-left: 6px;
    z-index: 0;
}

.THIS .ds-timeline__positive:before,
.THIS .ds-timeline__positive {
    background: t(colorTextSuccessInverse);
    border-radius: t(borderRadiusMedium);
}

.THIS .ds-timeline__pending:before,
.THIS .ds-timeline__pending {
    background: #f7b500;
    border-radius: t(borderRadiusMedium);
}

.THIS .ds-timeline__negative {
    background: t(colorBackgroundDestructive);
    border-radius: t(borderRadiusMedium);
    padding: 0;
}

.THIS .ds-timeline__positive .slds-icon,
.THIS .ds-timeline__pending .slds-icon,
.THIS .ds-timeline__negative .slds-icon {
    fill: #ffffff;
}

.THIS .icon-padding .slds-icon {
    padding: 0.25rem;
}

.THIS .ds-timeline__negative:before,
.THIS .ds-timeline__negative .slds-icon_container {
    background: t(colorBackgroundDestructive);
}

.THIS .ds-timeline__green:before {
    background: t(colorTextSuccessInverse);
}

.THIS .ds-timeline__orange:before {
    background: #f7b500;
}

.THIS .ds-timeline__red:before {
    background: t(colorBackgroundDestructive);
}

.THIS .ds-timeline__item_envelope:before {
    margin-left: 5px;
}

.THIS .ds-timeline__item_envelope .slds-timeline__item_details {
    padding: 0;
    display: none;
}

.THIS .ds-timeline__item_envelope.slds-is-open .slds-timeline__item_details {
    display: block;
}

.THIS .ds-envelope-title {
    max-width: calc(100% - 200px);
}

.THIS .ds-capitalize {
    text-transform: capitalize;
}

.THIS .ds-status-badge_inline {
    display: inline-block;
    transform: translateY(-0.05rem);
}

.THIS .ds-recipient:not(.ds-recipient_details-shown) .ds-recipient__toggle_less,
.THIS .ds-recipient.ds-recipient_details-shown .ds-recipient__toggle_more,
.THIS .ds-recipient:not(.ds-recipient_details-shown) .ds-recipient__details {
    display: none;
}

.THIS .ds-spinner_container {
    min-height: 100px;
}

.THIS .ds-center-fit-content {
    align-self: center;
    width: fit-content;
}

.THIS .slds-card__header {
    padding-top: 0px;
}