.drag {
    border-style: dashed;
    border: 2px dashed black;
    opacity: 0.25;
}

.over {
    border-style: dashed;
    border-color: green;
}

.listHeader {
    padding-left: 70px;
    border-radius: 0;
}