.THIS .required-textcolor {
    color: token(colorTextError);
}

.THIS .ds-remove .slds-button__icon {
    pointer-events: none;
    fill: t(colorTextError);
}

.THIS .slds-icon-doctype-word svg {
    width: 30px;
    height: 30px;
}

.THIS .ds-approver-icon-color {
    background-color: #14A9DA;
}