.THIS .ds-components-section-header {
    color: rgb(49, 45, 43);
    font-size: t(fontSize8);
    font-weight: t(fontWeightBold);
}

.THIS .ds-components-header {
    color: rgb(43, 40, 38);
    font-size: t(fontSize5);
    font-weight: t(fontWeightBold);
}

.THIS .ds-components-item-border {
    border-bottom: solid 0.5px rgb(243, 242, 242);
}

.THIS .ds-components-help-section {
    height: 92px;
}

.THIS .ds-components-image-box {
    width: 200px;
}

.THIS .ds-components-image-helpTextbox {
    display: grid;
    height: 92px;
    width: 460px;
}

.THIS .ds-components-image-text {
    color: rgb(62, 62, 60);
    font-size: t(fontSize3);
}