/**
 * Created by Vineet.Puranik on 4/27/2019.
 */
.THIS .contain-scroll {
    overscroll-behavior: contain;
}


.THIS .success_header_background {
    background: #04844b;
}

.THIS .success_header_font_color {
    color: #ffffff;
}
