.THIS.toolBarContainer {
    background-color: t(colorBackgroundAgreementPreviewHeader);
    color: t(colorGray1);
}

.THIS .mainLogo img {
    width: 110px;
}

.THIS .headerDivider {
    border-left: 1px solid white;
    background: t(colorBackgroundWhite);
    width: 1px;
    height: 35px;
    margin-top: 9px;
}