.THIS.toolBarContainer {
    background-color: #005DB9;
    color: white;
}

.THIS .mainLogo img {
    width: 110px;
}

.THIS .headerDivider {
    border-left: 1px solid white;
    background: white;
    width: 1px;
    height: 35px;
    margin-top: 9px;
}