.THIS .ds-docusign-illustration img {
    max-width: 200px;
    width: auto;
    max-height: 200px;
    height: auto;
}

.THIS .ds-text-align-end {
    text-align: end;
}

.THIS .ds-getStarted-helpText {
    color: rgb(62, 62, 60);
    font-size: t(fontSize6);
}