.THIS .medium-fonts-size{
    font-size:1.25rem
}

.THIS .ds-gray-background{
    background:#eaeaea;
}

.THIS .x-medium-fonts-size{
    font-size:1rem
}

.THIS .ds-no-extra-height{
    line-height:0px;
    box-shadow:none;
}

.THIS .blue-text-color{
    color:#0e2549!important;
}

.THIS .blue-help-text svg{
    color:#0e2549!important;
}

.THIS .ds-blue-icon svg{
    fill:#127ad5;
}

.THIS .ds-yellow-folder svg{
    fill:#ffb75d;
}

.THIS .ds-blue-folder svg{
    fill:#005fb2;
}

.THIS .ds-gray-folder svg{
    fill:#b0adab;
}

.THIS .position-helptext{
    position: absolute;
}

.THIS .ds-lightning-icon{
    margin-top: 0.2rem;

}

.THIS .ds-parent-hover:hover .ds-hover{
    display:block;
}

.THIS .ds-hover{
    display:none;
}

.THIS .ds-round{
    border-radius:.25rem;
}

.THIS .ds-icon-green {
    background-color: #7dc37d;
}

.THIS .ds-parent-folder-text-color {
    color: rgb(221, 219, 218);
}

.THIS .ds-example-folder-name {
    color: #b0adab;
}

.THIS .ds-height{
    max-height:500px
}

.THIS .ds-width{
    max-width: 776px;
    margin-left: auto;
    margin-right: auto;
}
