.THIS .ds-index-style {
    background: #2a426c;
    color: white;
    border-radius: 1000px;
    pointer-events: none;
    border: none;
}
.THIS .ds-title-style {
    color: #2a426c;
    font-size:1.15rem;   
}