.THIS .ds-index-style {
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    background: #2a426c;
    color: #fff;
    border-radius: 100%;
    position: relative;
    top: -2px;
    pointer-events: none;
    border: none;
}
.THIS .ds-title-style {
    color: #2a426c;
    font-size:1.15rem;   
}