.THIS {
    background-color: t(colorBackground);
    padding: 0.1rem;
}

.THIS .documentContainer {
    height: t(ninetyPercentViewPortHeight);
    background-color: t(colorBackground);
}

.THIS .toolbarContainer {
    min-height: t(heightHeader);
    background-color: t(colorBackgroundAgreementPreviewHeader);
    border-bottom: 2.5px solid #194BA0;
}

.THIS .loadingContainer {
    z-index: 100;
    top: 40%;
}

.THIS .backgroundDisabled{
    opacity: 0.7;
    pointer-events:none;
}