.THIS {
    background-color: #F3F2F2;
}

.THIS .fullContainer {
    width: 100vw;
}

.THIS .documentContainer {
    width: 100vw;
    height: 92.5vh;
    background-color: rgb(243, 242, 242);
}

.THIS .toolbarContainer {
    width: 100vw;
    min-height: 55px;
    background-color: #005DB9;
    border-bottom: 2.5px solid #194BA0;
}

.THIS .loadingContainer {
    z-index: 100;
    top: 40%;
}

.THIS .scmwgt .flexbox__container.-horizontal {
    height: 91.5vh;
}

.THIS .backgroundisabled{
    opacity: 0.7;
    pointer-events:none;
}