.THIS {
    background-color: #F3F2F2;
}

.THIS #fullContainer {
    width: 100vw;
}

.THIS #documentContainer {
    float: left;
    width: 100vw;
    height: 92.5vh;
    background-color: rgb(243, 242, 242);
}

.THIS #toolbarContainer {
    float: left;
    width: 100vw;
    height: 8.5vh;
    background-color: #005DB9;
    border-bottom: 2.5px solid #2883E3;
}

.THIS .loadingContainer {
    z-index: 100;
    top: 40%;
}