.ds-recipient-type-selection {
    width: 211px;
    height: 384px;
}

.ds-recipient-disabled {
    pointer-events:none;
}

.ds-cursor-not-allowed {
    cursor: not-allowed;
}

.ds-panel-separator {
    background: var(--lwc-colorBorder);
    width: 1px;
}

.ds-sending-recipient-details {
    width: 100%;
}