.THIS.ds-destroyable {
    position: relative
}

.THIS.ds-destroyable .ds-remove {
    position: absolute;
    top: 0;
    right: 0;
}

.THIS.slds-tile .slds-form-element .slds-checkbox .slds-form-element__label {
    display: none;
}

.THIS.slds-tile .slds-form-element .slds-checkbox [type="checkbox"]+.slds-checkbox__label .slds-checkbox_faux {
    margin-right: 0;
}

.THIS.slds-pill .slds-pill__icon_container[class*="slds-icon-utility"] .slds-icon {
    padding: t(spacingXxSmall);
    position: relative;
    top: -1px;
    margin-right: -t(spacingXxSmall);
}

.THIS .ds-remove .slds-button__icon {
    pointer-events: none;
    fill: t(colorTextError);
}

.THIS .ds-draggable {
    cursor: -moz-grab;
    cursor: -webkit-grab;
    cursor: grab;
}

.THIS .ds-button-group {
    top: -1px;
}

.THIS .ds-button-group .ds-tooltip_container .slds-button {
    border-radius: 0;
    margin-right: -1px;
}

.THIS .ds-button-group .ds-tooltip_container:first-child .slds-button {
    border-top-left-radius: t(borderRadiusMedium);
    border-bottom-left-radius: t(borderRadiusMedium);
}

.THIS .ds-button-group .ds-tooltip_container:last-child .slds-button {
    border-top-right-radius: t(borderRadiusMedium);
    border-bottom-right-radius: t(borderRadiusMedium);
    margin-right: 0;
}

.THIS .ds-checkbox_button-group .slds-checkbox_button__label {
    height: 100%;
    display: inline-block;
}

.THIS .ds-checkbox_button-group .slds-dropdown-trigger .slds-button {
    border-radius: 0;
    width: 30px;
    height: 30px;
}

.THIS .ds-checkbox_button-group .slds-popover__body {
    line-height: 1.5;
    font-size: 0.75rem;
    color: white;
}

.THIS .ds-checkbox_button-group .slds-icon {
    transform: translateY(-1px);
}

.THIS .slds-checkbox_button [type=checkbox]:checked+.slds-checkbox_button__label .ds-checkbox_button__icon .slds-icon {
    fill: white;
}

.THIS .slds-table.ds-has-remove th:last-child,
.THIS .slds-table.ds-has-remove td:last-child {
    width: 1px;
    text-align: center;
}

.THIS .slds-lookup .slds-lookup__menu {
    display: none;
}

.THIS .slds-lookup.slds-is-open .slds-lookup__menu {
    display: block;
}

.THIS .ds-roles .slds-pill_container {
    padding-left: 0;
    padding-right: 0;
}

.THIS .ds-roles .slds-pill {
    padding-left: t(spacingXxSmall);
}

.THIS .slds-form-element.slds-is-disabled .slds-pill_container {
    border-color: t(colorBorderInputDisabled);
    background-color: t(colorBackgroundDisabled);
}

.THIS .slds-form-element.slds-is-disabled .slds-pill {
    border-color: transparent;
    background-color: t(colorBackgroundDisabled);
}

.THIS .ds-pill-label {
    margin-right: auto;
}

.THIS .ds-button-icon_has-value,
.THIS .ds-button-icon_has-value:hover,
.THIS .ds-button-icon_has-value:active,
.THIS .ds-button-icon_has-value:focus {
    background: t(colorBackgroundBrandPrimary);
}

.THIS .ds-button-icon_has-value .slds-button__icon {
    fill: white;
    color: white;
}

.THIS .ds-button-icon_has-value:hover .slds-button__icon {
    fill: rgba(255, 255, 255, 0.5);
    color: rgba(255, 255, 255, 0.5);
}

.THIS div.slds-input.slds-is-disabled,
.THIS div.slds-input.slds-is-disabled:hover {
    cursor: default;
    background-color: transparent;
    border-color: t(colorBorder);
}

.THIS .ds-tooltip_container .ds-tooltip {
    display: none;
    top: calc(-100% - 14px);
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

.THIS .ds-tooltip_container:hover .ds-tooltip {
    display: block;
}
