.ds-select-files-selection {
    width: 211px;
    height: 384px
}
.ds-panel-separator {
    background: var(--lwc-colorBorder);
    width: 1px;
}
.ds-input-width {
    width: 400px;
}
.ds-table-height {
    height: 300px;
}
.ds-library-docs-table-height {
    height: 270px;
}
.ds-link {
    cursor: pointer;
}