.THIS .ds-long-gen {
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 35px));
    z-index: 9999;
    width: 80%;
}

.THIS .ds-spinner_generating-container {
    min-height: 140px;
}

.THIS .ds-generator-spinner_container .slds-spinner_container {
    z-index: 100;
}

.THIS .ds-spinner_long-gen .slds-spinner {
    transform: translate(-50%, calc(-50% - 25px)) rotate(90deg);
}

.THIS.slds-scope .ds-checkbox_large [type="checkbox"] + .slds-checkbox__label .slds-checkbox_faux {
    width: t(spacingLarge);
    height: t(spacingLarge);
    box-shadow: 0 0 3px 3px t(colorBackground) inset;
    background-color: #fdfdfd;
    margin: 0;
}

.THIS.slds-scope .ds-checkbox_large [type="checkbox"]:checked + .slds-checkbox__label .slds-checkbox_faux:after {
    width: t(spacingMedium);
    height: t(spacingXSmall);
    border-bottom-width: 4px;
    border-left-width: 4px;
    top: 44%;
}

.THIS.slds-scope .ds-radio_large [type="radio"] + .slds-radio__label .slds-radio_faux {
    width: t(spacingLarge);
    height: t(spacingLarge);
    box-shadow: 0 0 3px 3px t(colorBackground) inset;
    background-color: #fdfdfd;
    margin: 0;
}

.THIS.slds-scope .ds-radio_large [type="radio"]:checked + .slds-radio__label .slds-radio_faux:after {
    width: t(spacingMedium);
    height: t(spacingMedium);
}

.THIS.slds-scope .ds-checkbox_large .slds-form-element__label,
.THIS.slds-scope .ds-radio_large .slds-form-element__label {
    display: none;
}

.THIS.slds-scope .ds-checkbox_large.slds-no-label.slds-form-element .slds-checkbox .slds-checkbox_faux,
.THIS.slds-scope .ds-radio_large.slds-no-label.slds-form-element .slds-radio .slds-radio_faux {
    margin-right: 0;
}

.THIS .ds-no-label .slds-form-element__label {
    display: none;
}

.THIS .scrollable {
    pointer-events: none;
}

.THIS .scrollable * {
    pointer-events: auto;
}

.THIS .ds-generated-file {
    max-width: 44%;

}
